<div class="flex ">
    <div style="margin-top: 100px;">
        <h1 style="color: beige;"> Back on Top</h1>
    </div>
  
        <div style="margin-left: 100px;">
            <h3 style="color: papayawhip;">COMPANY</h3>
            <ul>
                <li style="color: aliceblue;"><a href="">About us</a></li>
                 <li style="color: aliceblue;"><a href="">our services</a></li>
                 <li style="color: aliceblue;"><a href="">privacy policy</a></li>
                 <li style="color: aliceblue;"><a href="">our products</a></li>
            </ul>


        </div>
        

    <div style="padding-left: 100px;">
        <h3 style="color: papayawhip;">CONNECT WIH US</h3>
         <ul>
                <li style="color: aliceblue;"><a href="">facebook</a></li>
                 <li style="color: aliceblue;"><a href="">instagram</a></li>
                 <li style="color: aliceblue;"><a href="">twitter</a></li>
                 <li style="color: aliceblue;"><a href="">snapshot</a></li>
            </ul>
    </div>
        <div style="padding-left: 100px;">
        <h3 style="color:papayawhip;">Make Money with Us</h3>
         <ul>
                <li style="color: aliceblue;"><a href="">sell your product with us </a></li>
                <li style="color: aliceblue;"><a href="">Protect and Build Your Brand</a></li>
                <li style="color: aliceblue;"><a href="">Become an Affiliate</a></li>
                <li style="color: aliceblue;"><a href="">Advertise Your Products</a></li>
                <li style="color: aliceblue;"><a href="">Kashmiri product pay on merchant </a></li>
                <li style="color: aliceblue;"><a href="">sell your product with us  </a></li>
                <li style="color: aliceblue;"><a href="">we are always available for your help </a></li>
                <li style="color: aliceblue;"><a href="">sell on ddemnad  </a></li>
                <li style="color: aliceblue;"><a href="">increase your product demnad with us  </a></li>
                <li style="color: aliceblue;"><a href="">pay on kashmiri merchant  </a></li>
            </ul>
    </div>
    <div style="margin-left: 200px;">
        <h3 style="color: papayawhip;">Let us Help you</h3>
        <ul>
            <li style="color: aliceblue;"><a href="">COVID-19 and kashmiri store</a></li>
             <li style="color: aliceblue;"><a href="">Your Account</a></li>
             <li style="color: aliceblue;"><a href="">Returns Centre</a></li>
             <li style="color: aliceblue;"><a href="">100% Purchase Protection</a></li>
        </ul>


    </div>
    

       
 



</div>
    

