<footer>
    <div class="bg-gray-800 p-5">
        <h1 class="text-center text-white text-2xl"> Back on Top</h1>
    </div>
    <div class="flex justify-evenly bg-gray-900 px-3 py-10">
        <div>
            <h3 class="text-yellow-50 text-lg font-bold">COMPANY</h3>
            <ul class="footer__list">
                <li><a href="">About us</a></li>
                <li><a href="">our services</a></li>
                <li><a href="">privacy policy</a></li>
                <li><a href="">our products</a></li>
            </ul>

        </div>

        <div>
            <h3 class="text-yellow-50 text-lg font-bold">CONNECT WIH US</h3>
            <ul class="footer__list">
                <li><a href="">facebook</a></li>
                <li><a href="">instagram</a></li>
                <li><a href="">twitter</a></li>
                <li><a href="">snapshot</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-yellow-50 text-lg font-bold">Make Money with Us</h3>
            <ul class="footer__list">
                <li><a href="">sell your product with us </a></li>
                <li><a href="">Protect and Build Your Brand</a></li>
                <li><a href="">Become an Affiliate</a></li>
                <li><a href="">Advertise Your Products</a></li>
                <li><a href="">Kashmiri product pay on merchant </a></li>
                <li><a href="">sell your product with us </a></li>
                <li><a href="">we are always available for your help </a></li>
                <li><a href="">sell on ddemnad </a></li>
                <li><a href="">increase your product demnad with us </a></li>
                <li><a href="">pay on kashmiri merchant </a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-yellow-50 text-lg font-bold">Let us Help you</h3>
            <ul class="footer__list">
                <li><a href="">COVID-19 and kashmiri store</a></li>
                <li><a href="">Your Account</a></li>
                <li><a href="">Returns Centre</a></li>
                <li><a href="">100% Purchase Protection</a></li>
            </ul>


        </div>


    </div>
    <div class="text-center bg-gray-300 p-5">
        <p class="text-gray-400 text-lg font-bold"> @Copyright 2023</p>
    </div>
</footer>
